<!DOCTYPE html>
<html lang = 'es'>
    <head>
        <meta charset="UTF-8">
        <meta name = 'Felipe Muñoz', content="Intro html">
        <title>Sergio Pérez</title>
        <link rel='icon' href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAg1JREFUSEvt10uoT1EUx/HP9ZoYCIVuilLymBgw8SgGBoqZwgChFEIykeSRZHajPMqjyKsMzBiYEDEwoJRHSZh4DZQMJHm0ap/buafz///PObr+BvZsn7N+67vXXuusvU+PLo2eLnH9B/+1nW+31UOwDquwCDGvMn7iFi7iPH6VidqBD2F3FVIbm/04UAc8Bw+S4Cmu4UfFRQzFckxL0c7Gw6K2VcTHsAXfMQGfKkIzs7F4h+EIX1urgGMxbxPwOpbWhGbmN7AE79FbzHVZxAtwJ6mjuM41BG/AmaSdh/t5P2Xgo9iWcjoaXxqCx+AjIud92NkOPAIvMTHl6FRDaCbbhHF4nYrtW/YiH/FI3MTcP4S1kt/DYnwNgzw4GsXlQYJmblfgahEcH/u+QQZHMwnOgIjz4EeIIovPYDvG11zQh6SPTykKdVbSdwRPx/NkvAcHa4J34EjSzMfdquCpeJGMV+JKTfBGnE6a6HzRxWJ0jPgS9qaWeRzLaoKjN0ebfJJSlR0UHcE1OZXNS8G7cLiyi2aGsQtxaAyo6iioxxjWzGdHVTSOmXhVBMd8Pc7mXLxJ7a6j1xKDyZiUe74GF7J58ZBYmK4t2fv+nDQgFxtSXJ9u/3PgyHNcdbKxGScbRBuSOJlO5LQz8KxVxPF8Naak607cEj83BI/CWsS5HEdtf37Liqsho76sa78wvwHm7GMf/IDJ+wAAAABJRU5ErkJggg=="/>
    </head> 
    <body>
        <h1>Sergio Michel Pérez</h1>
        <h3><a href="../inicio.html"><b>Inicio</b></a></h3>
        <h2>Biografia</h2>
        <p>Sergio Michel Pérez Mendoza (Guadalajara, Jalisco, México; 26 de enero de 1990), también conocido como Checo Pérez, 
            es un piloto de automovilismo mexicano. Actualmente es miembro de la Escudería Telmex.
            Desde 2021 es piloto de Red Bull en Fórmula 1, resultando tercero en 2022.Comenzó su carrera en 2004; en la Fórmula 3 Británica fue campeón de clase nacional en 2007. En 2009 debutó en la GP2 Series y al año siguiente fue subcampeón.</p>
        <img src="../assets/img/checo.jpg" width="200" height="250">
        <h2>Logros</h2>
        <p>Es el piloto mexicano más exitoso de la historia de Fórmula 1 con: </p>
        <ul>
            <li>253 Grandes Premios</li>
            <li>6 victorias</li>
            <li>33 podios</li>
            <li>1420 puntos</li>
            <li>3 Poles</li>
        </ul>
        <h2>Trayectoria</h2>
        <p>La trayecotoria profesional de Sergio Pérez ha trascendido diversas escuderías en la F1.</p>
            <ol>
                <li><b>Sauber (2011-2012)</b></li>
                <li><b>McLaren (2013)</b></li>
                <li><b>Force India (2014-2018)</b></li>
                <li><b>Racing Point (2018-2020)</b></li>
                <li><b>Red Bull Racing (2020-Presente)</b></li>

            </ol>
    </body>

</html>