<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style_divs.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,300&display=swap');
    </style>
</head>
<body>
    <h2>Título </h2>
    <p class="azul">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum expedita labore repudiandae cum rerum! Nihil facere deserunt non, eius doloremque ad ullam illo voluptatum exercitationem illum debitis dolorem ducimus et!</p>
    <p class="rojo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti recusandae iste ad mollitia fuga quo veniam voluptas, harum ratione nihil debitis commodi, beatae odit quisquam! Facilis, excepturi aliquam? Incidunt, doloribus!</p>
    <p class="verde">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit cum provident dignissimos maxime corporis odio ipsum in, eius at consectetur voluptatum animi, natus reprehenderit ducimus! Perspiciatis eos odit enim quibusdam.</p>

    <h2 id="h2Derecha">Título 2</h2>

    <p>Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: <span class="homero"><a href="https://es.wikipedia.org/wiki/Homero">Homero como cantor de las gestas de los héroes</a></span>, Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.</p>
</body>
</html>