<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario Semanal</title>
</head>
<body>
    <table border="1">
        <caption>Horario Semanal</caption>

        <tr>
            <th>Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
        <tr>
            <td>7 am</td>
            <td  rowspan="5">Clase</td>
            <td rowspan="3" colspan="4"></td>
        </tr>
        <tr>
            <td>8 am</td>   
        </tr>
        <tr>
            <td>9 am</td>
        </tr>
        <tr>
            <td>10 am</td>
            <td colspan="4">Desayuno</td>
        </tr>
        <tr>
            <td>11 am</td>
            <td rowspan="4">Clase</td>
            <td rowspan="5">Clase</td>
            <td rowspan="4">Clase</td>
            <td rowspan="2">Clase</td>
        </tr>
        <tr>
            <td>12 m</td>
            <td>Transporte</td>   
        </tr>
        <tr>
            <td>1 pm</td>
            <td>Almuerzo</td>
            <td>Almuerzo</td>
        </tr>
        <tr>
            <td>2 pm</td>
            <td></td>
            <td rowspan="5"></td>
        </tr>
        <tr>
            <td>3 pm</td>
            <td>Gimnasio</td>
            <td>Transporte</td>
            <td>Transporte</td>
        </tr>
        <tr>
            <td>4 pm</td> 
            <td></td>
            <td>Gimnasio</td>
            <td>Transporte</td>
            <td>Gimnasio</td>
        </tr>
        <tr>
            <td>5 pm</td>
            <td rowspan="2" colspan="4">Tareas</td>
        </tr>
        <tr>
            <td>6 pm</td>
        </tr>
        <tr>
            <td>7 pm</td>
            <td rowspan="2" colspan="5">Cena</td>
        </tr>
        <tr>
            <td>8 pm</td>
        </tr>
    </table>
    
</body>
</html>