<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/cardAlimento.css">
</head>
<body>
    <h1>Hola</h1>
    <div class="containerGrid">
        <div class="grid">
            <div class="cardAlimento carne" className="cardAlimento" id="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Carne</h3>
                </div>
            </div>
            <div class="cardAlimento pollo" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Pollo</h3>
                </div>
            </div>
            <div class="cardAlimento pescado" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Pescado</h3>
                </div>
            </div>

            <div class="cardAlimento huevo" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Huevo</h3>
                </div>
            </div>

            <div class="cardAlimento pan" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Pan</h3>
                </div>
            </div>

            <div class="cardAlimento lacteos" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Lácteos</h3>
                </div>
            </div>
            <div class="cardAlimento frutas" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Frutas</h3>
                </div>
            </div>

            <div class="cardAlimento verduras" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Verduras</h3>
                </div>
            </div>

            <div class="cardAlimento granos" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Granos</h3>
                </div>
            </div>

            <div class="cardAlimento dulces" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Dulces</h3>
                </div>
            </div>
            <div class="cardAlimento rapida" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Comida rápida</h3>
                </div>
            </div>

            <div class="cardAlimento bebidas" className="cardAlimento">
                <div class="Alimento" className="Alimento">
                    <h3>Bebidas</h3>
                </div>

            </div>
        </div>
        <div class="selector"></div>
    </div>
    <script src="../assets/js/cardAlimento.js"></script>
</body>
</html>