<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name = 'Felipe Muñoz', content="Quiz de Desarrollo Web mediante un juego de Stop">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/edit-regular-24.png">
    <title>Quiz</title>
</head>
<body>
    <table border="2">
        <caption>Quiz</caption>
        <tr border="3">
            <th><b>Letra</b></th>
            <th><b>Nombre</b></th>
            <th><b>Apellido</b></th>
            <th><b>Cosa</b></th>
            <th>Color</th>
            <th><b>Lugar</b></th>
            <th><b>Atributo HTML</b></th>
            <th><b>Total</b></th>
        </tr>
        
        <tr border="3">
            <td>V</td>
            <td>Valeria</td> 
            <td>Velez</td>
            <td><img src="https://th.bing.com/th/id/OIP.goKjojl0X6fmD4980ghEBwHaE8?pid=ImgDet&rs=1", width="80" height="100"></td>
            <td bgcolor="green"></td>
            <td>venecia</td>
            <td><i><u> video </u></i></td>
            <td><b>1</b></td>
        </tr>

        <tr border="3">
            <td>D</td>
            <td>David</td>
            <td>Diaz</td>
            <td><img src="https://th.bing.com/th/id/OIP.4FxweAhKJW2AVYcL8nvFmwHaHa?pid=ImgDet&rs=1", width="80" height="100"></td>
            <td bgcolor="gold"></td>
            <td>dinamarca</td>
            <td><i><u>div</u></i></td>
            <td><b>1</b></td>
        </tr>

        <tr border="3">
            <td>U</td>
            <td>Uriel</td>
            <td>Usuga</td>
            <td><img src="https://th.bing.com/th/id/OIP.pxR1WpT9QADVJm2k5KJV_gHaE8?pid=ImgDet&rs=1", width="80" height="100"></td>
            <td bgcolor="purple"></td>
            <td>ucrania</td>
            <td><i><u>ul</u></i></td>
            <td><b>1</b></td>
        </tr>

        <tr border="3">
            <td>X</td>
            <td>Ximena</td>
            <td>Xander</td>
            <td><img src="https://th.bing.com/th/id/OIP.xtRvT8divZ8EngvNtHkgswHaFC?pid=ImgDet&rs=1", width="80" height="100"></td>
            <td bgcolor="#eeed09"></td>
            <td>xalapa</td>
            <td><i><u> xmlns </u></i></td>
            <td><b>1</b></td>
        </tr>

        <tr border="3">
            <td>R</td>
            <td>Roberto</td>
            <td>Ramirez</td>
            <td><img src="https://th.bing.com/th/id/OIP.rthNa2gUo1CwlLvbfDSC8AHaH7?pid=ImgDet&rs=1", width="80" height="100"></td>
            <td bgcolor="red"></td>
            <td>roma</td>
            <td><i><u> rb </u></i></td>
            <td><b>1</b></td>
        </tr>
        
    
        

    </table>
    
</body>
</html>