table{
    margin: 10%;
    background-color: rgb(4, 157, 129);
    color: rgb(253, 250, 247);
    border-style: dashed;
    border-collapse: collapse;
    border-width: 6px;
    border-color: yellow;
    text-align: justify;
}

img{
    width: 80%;
    margin: 10%;

}

h1{
    margin: 2%;
    margin-top: 60px;
}

td{border-color: rgba(0, 128, 128,0);}

p{
    margin-right: 2%;
}

.homero {
    color: yellow;
    text-decoration: underline;
}